/**
* Base
*/

$background-color: #0a1724;
$white: #ffffff;

/**
* Buttons
*/

$button-primary: #2fabfe;
$button-primary-shadow: #0091f8;
$button-primary-hover: #0091f8;
$button-primary-hover-shadow: #0073c2;
$button-primary-active: #0073c2;

$button-success: #33e192;
$button-success-shadow: #18b973;
$button-success-hover: #18ba73;
$button-success-hover-shadow: #059254;
$button-success-active: #059254;

$button-warning: #fac862;
$button-warning-shadow: #f0af2a;
$button-warning-hover: #f0af2a;
$button-warning-hover-shadow: #e49801;
$button-warning-active: #e49801;

$button-danger: #f47a60;
$button-danger-shadow: #e54d2d;
$button-danger-hover: #e54d2d;
$button-danger-hover-shadow: #d92c07;
$button-danger-active: #d92c07;

/**
* Health Bar
*/

$health-bar-background: #101c2d;
$health-bar-green: #32e092;
$health-bar-red: #f47a60;
