/**
* Base
*/

$background-color: hsl(210, 57%, 9%);
$white: hsl(0, 0%, 100%);

/**
* Buttons
*/

$button-primary: hsl(204, 99%, 59%);
$button-primary-shadow: hsl(205, 100%, 49%);
$button-primary-hover: hsl(205, 100%, 49%);
$button-primary-hover-shadow: hsl(204, 100%, 38%);
$button-primary-active: hsl(204, 100%, 38%);

$button-success: hsl(153, 74%, 54%);
$button-success-shadow: hsl(154, 77%, 41%);
$button-success-hover: hsl(154, 77%, 41%);
$button-success-hover-shadow: hsl(154, 93%, 30%);
$button-success-active: hsl(154, 93%, 30%);

$button-warning: hsl(40, 94%, 68%);
$button-warning-shadow: hsl(40, 87%, 55%);
$button-warning-hover: hsl(40, 87%, 55%);
$button-warning-hover-shadow: hsl(40, 99%, 45%);
$button-warning-active: hsl(40, 99%, 45%);

$button-danger: hsl(11, 87%, 67%);
$button-danger-shadow: hsl(10, 78%, 54%);
$button-danger-hover: hsl(10, 78%, 54%);
$button-danger-hover-shadow: hsl(11, 94%, 44%);
$button-danger-active: hsl(11, 94%, 44%);

/**
* Health Bar
*/

$health-bar-background: hsl(215, 48%, 12%);
$health-bar-green: hsl(153, 74%, 54%);
$health-bar-red: hsl(11, 87%, 67%);

/**
* Container
*/

$container-background: hsl(213, 48%, 14%);
$container-shadow: hsl(215, 48%, 12%);
