@use "../abstracts/variables" as var;
@use "../abstracts/functions" as fnc;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: fnc.em(10);
  align-items: center;
  padding: fnc.em(16);
  background-color: var.$container-background;
  box-shadow: 0 10px var.$container-shadow;
  border-radius: 10px;
}
