.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-order-one {
  order: 1;
}

.flex-order-two {
  order: 2;
}

.flex-order-three {
  order: 3;
}

.align-center {
  align-items: center;
}

.align-content-end {
  align-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-end {
  justify-content: end;
}
