h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.gap {
  gap: 40px;
}

.gap-column {
  column-gap: 40px;
}
